.root {
    --primary-color: #edb879;
    --secondary-color: #1e81b0;
    --tertiary-color: #eeeee4;
    --backup-color: #76b5c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #eeeee4;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #76b5c5;
}

header h1 {
    font-weight: normal;
    font-size: 36px;
    color: #eeeee4;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #edb879;
}

header nav {
    /* float: right; */
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #edb879;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/* Hero Styles Start*/

#hero {
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: 100%;
}

/* Bio Styles Start*/

.bio-section {
    display:flex;
    flex-direction: row;
    width: 75%;
    background: #76b5c5;
}

.bio-title {
    display:flex;
    justify-self: center;
    font-size: 28px;
    font-weight: normal;
    color: #edb879;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 3px solid;
}

.bio-section img {
    width: 300px
}

.about-me {
    padding: 35px;
    width:auto;
}

.about-me p {
    font-size: 17px;
    color: #edb879;
    line-height: 1.5;
}
 



/* Links */

.links { 
    display:flex;
    margin-right: 15px;
    padding: 30px;
    width: 23%;
    height: 100%;
    background-color: #edb879;
}

.Link-logos img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
}


/* Project Styles Begin */

.my-work {
    display:flex;
    flex-direction: column;
    background-color: #76b5c5;
    /* margin: auto 50px; */
    /* overflow: auto; */
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

#projects-header {
    font-size: 28px;
    font-weight: normal;
    color: #edb879;
    text-align: center;
    border-bottom: 3px solid;
}

#project-images {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    padding-bottom: 50px;
    width: fit-content;
}   

.project-image {
    display: flex;
    flex: flex-wrap;
}

.project-image img { 
  max-width: 300px;
  display: flex;
  flex: flex-wrap;
}

.project-title{
    font-size: 24px;
    font-weight: normal;
    color: #edb879;
}









