.root {
    --primary-color: #edb879;
    --secondary-color: #1e81b0;
    --tertiary-color: #eeeee4;
    --backup-color: #76b5c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #eeeee4;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #76b5c5;
}

header h1 {
    font-weight: normal;
    font-size: 36px;
    color: #eeeee4;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #edb879;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #edb879;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/* Hero Styles Start*/

figure img {
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: 100%;
}

/* Bio Styles Start*/

.bio-section {
    width: 75%;
    float: left;
    background: #76b5c5;
}

.bio-title {
    font-size: 28px;
    font-weight: normal;
    color: #edb879;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-bottom: 15px;
    float: center; 
    border-bottom: 3px solid;
}

.Bio-card img {
    width: 300px;
    display: inline-block;
    float: left;
}

.about-me {
    padding: 35px;
    float: left;
    width: 65%;
}

.about-me p {
    font-size: 17px;
    color: #edb879;
    line-height: 1.5;
}
 
.text-left {
    text-align: left;
}


/* Links */

.links {
    margin-right: 15px;
    padding: 30px;
    width: 23%;
    float: right;
    height: 100%;
    background-color: #edb879;
}

.Link-logos img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
}


/* Project Styles Begin */







