.root {
    --primary-color: #76b5c5;
    --secondary-color: #edb879;
    --tertiary-color: #eeeee4;
    --backup-color: rgb(240, 255, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* color: #eeeee4; */
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #76b5c5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline-flex;
    flex: flex-wrap;
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
    color: #eeeee4;
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #eeeee4;
    margin: 20 35px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li a:hover {
    background: #1e81b0;
    color: honeydew;
    padding: 8px;
    border-radius: 15px;
}

/* Footer Styles Start */

footer {
    background: #edb879;
    width: 100%;
    padding: 40px 35px;
    margin-top: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer span {
    color: #eeeee4;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


/* Hero Styles Start*/

figure img {
    max-width: 100%;
    display: flex;
    /* wrap: flex-wrap; */
}

#hero {
    max-width: 100%;
    background-size: cover;
    display: -webkit-inline-flex;
    justify-content: center;
}

/* Bio Styles Start*/
main {
    display: inline-flex;
    flex: flex-wrap;
    justify-content: space-evenly;
}

.bio-section {
    display:flex;
    flex-direction: row;
    width: 75%;
    background: #76b5c5;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bio-title {
    display:flex;
    justify-self: center;
    font-size: 28px;
    font-weight: normal;
    color: #eeeee4;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 5px solid honeydew;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.bio-section img {
    width: 300px;
    
}

.about-me {
    padding: 35px;
    width:auto;
}

.about-me p {
    font-size: 17px;
    color: #eeeee4;
    line-height: 1.5;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
 
/* Links */

aside {
    display: inline-flex;
    flex: flex-wrap;
    justify-content: flex-end;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.links { 
    margin: 5px 0 5px 0;
    display:flex;
    flex: flex-wrap;
    flex-direction: column;
    margin-top: inherit;
    margin-bottom: inherit;
    margin-right: -3px;
    padding: 40px;
    width: 22%;
    height: 100%;
    background-color: #edb879;
    border-radius: 15px;
}

.Link-logos img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
}


/* Project Styles Begin */

.my-work {
    display:flex;
    flex-direction: column;
    background-color: #76b5c5;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 15px;
}

#projects-header {
    font-size: 32px;
    font-weight: bolder;
    padding: 45px 0px 15px 0px;
    color: #eeeee4;
    text-align: center;
    border-bottom: 5px solid honeydew;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#project-images {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-evenly;
    margin: 50px auto;
    padding-bottom: 50px;
    width: fit-content;
}   

.project-image {
    display: flex;
    flex: flex-wrap;
    margin-left: 75px;
    margin-right: 60px;
    display: table-caption
}

.project-image img { 
  width: 300px;
  height: 300px;
  display: flex;
  flex: flex-wrap;
}

figcaption {
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    color: #eeeee4;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}









